<div class="well">
  <%= form_tag groups_path, :method => 'get', html: {class: 'form-search'} do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>

  <% @groups.each do |group| %>
    <div class="well well-small">
      <%= link_to group.name, group_path(group) %>
      <%= button_to 'Join group', {action: :join, id: group.id}, {class: 'btn btn-primary'} unless can_see_group?(group) %>
    </div>

  <% end %>
</div>
