<%= form_for @event, html: {class: 'form-horizontal'} do |f| %>
  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>
    <%= f.text_field :title %>
  </div>
  <div class="control-group">
    <%= f.label :description, class: 'control-label' %>
    <%= f.text_field :description %>
  </div>
  <div class="control-group">
    <%= f.label :from, class: 'control-label'%>
    <%= f.datetime_select :from, {}, {class: "datetime-select"} %>
  </div>
  <div class="control-group">
    <%= f.label :to, class: 'control-label' %>
    <%= f.datetime_select :to, {}, {class: "datetime-select"} %>
  </div>
  <div class="control-group">
    <div class="control-group">
      <%= label_tag :personal, nil, class: 'control-label' %>
      <%= check_box_tag :personal %>
    </div>
    <% current_user.groups.each do |group| %>
      <div class="control-group">
        <%= label_tag "#{group.name}_group", nil, class: 'control-label' %>
        <%= check_box_tag "#{group.id}" %>
      </div>
    <% end %><br/>

    <div class="controls">
      <%= f.submit nil, class: 'btn' %>
    </div>
  </div>
<% end %>
