<div class="well">
  <h2><%= @event.title %></h2>
  <hr style="border-color: black" >
  <p>
    <big><%= @event.description %></big>
  </p>
  <p>
    From <%= @event.from.strftime("%H:%M %d/%m/%y") %> to <%= @event.to.strftime("%H:%M %d/%m/%y") %>
  </p>
  <% if @event.eventable.is_a? User %>
    <%= button_to 'Delete', {action: :destroy, id: @event.id}, {class: 'btn btn-danger', method: :delete} %>
  <% else %>
    <%= button_to 'Ignore', {action: :ignore, id: @event.id}, {class: 'btn btn-danger'} %>
  <% end %>
</div>
<% @tasks.each do |task| %>
  <div class="well">
    <h4><%= task.title %></h4>
    <small><%= task.description %></small>
  </div>
<% end %>
<%= render 'tasks/new' %>
